@model ContactViewModel
@{
    ViewBag.Title = "Contact Us";
}
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


<form method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <lable asp-for="Boss">Boss Name</lable><br />
    <input type="text" asp-for="Boss" />
    <span asp-validation-for="Boss"></span><br /><br>

    <lable asp-for="Member1">Member1 ID</lable><br />
    <input type="text" asp-for="Member1" />
    <span asp-validation-for="Member1"></span><br />

    <lable asp-for="Name1">Member1 Name</lable><br />
    <input type="text" asp-for="Name1" />
    <span asp-validation-for="Name1"></span><br />

    <lable asp-for="Overtime1">Member1 Overtime</lable><br />
    <input type="text" asp-for="Overtime1" />
    <span asp-validation-for="Overtime1"></span><br /><br />

    <lable asp-for="Member2">Member2 ID</lable><br />
    <input type="text" asp-for="Member2" />
    <span asp-validation-for="Member2"></span><br />

    <lable asp-for="Name2">Member2 Name</lable><br />
    <input type="text" asp-for="Name2" />
    <span asp-validation-for="Name2"></span><br />

    <lable asp-for="Overtime2">Member2 Overtime</lable><br />
    <input type="text" asp-for="Overtime2" />
    <span asp-validation-for="Overtime2"></span><br /><br />

    <lable asp-for="Email">Email</lable><br />
    <input type="email" asp-for="Email" />
    <span asp-validation-for="Email"></span><br />

    <lable asp-for="Date">Date</lable><br />
    <input type="date" asp-for="Date"/>
    <span asp-validation-for="Date"></span><br />

    <label asp-for="Reason">Reason</label><br />
    <select asp-for="Reason">
        <option value="Constraction">Constraction</option>
        <option value="Weather">Weather</option>
        <option value="Other">Other</option>
    </select>
    <span asp-validation-for="Reason"></span><br />

    <label asp-for="Comment">Comment</label><br />
    <textarea rows="4" asp-for="Comment"></textarea>
    <span asp-validation-for="Comment"></span><br />

   

    <input type="submit" value="Send Message" />

</form>